/* ========================================
   Reset and Global Styles
======================================== */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, ul, ol, li, figure, p, pre, blockquote, img, input, button {
  margin: 0;
  padding: 0;
}

body {
  background: #F2F3F7;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

fieldset {
  border: none;
  margin-bottom: 20px;
  width: 100%; 
  display: flex;
}

input[type='radio'] {
  appearance: none;
  display: none;
}

/* ========================================
   Typography
======================================== */
.start-title, .question, .user-score-description {
  color: #293264;
  font-weight: 700;
}

.start-title {
  font-size: 2.5rem;
  margin-bottom: 0.25em;
  text-align: center;
}

.start-description, .placeholder-description {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

.user-score-description, .question {
  font-size: 1.2rem;
}

.question {
  margin-bottom: 10px;
  width: 100%;
}

.error-text {
  background-color: #ff6b6b;
  border: 1px solid #e63939;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}

/* ========================================
   Button Styles
======================================== */
label, .check-answers-btn, .play-again-btn, .start-btn, .start-quiz-btn {
  background-color: #4D5B9E;
  border: none;
  border-radius: 10px;
  color: #F5F7FB;
  cursor: pointer;
  font: inherit;
  padding: 1em 2.5em;
  transition: transform 0.2s;
}

label {
  background-color: #fff;
  border: 1px solid #4D5B9E;
  color: #293264;
  display: inline-block;
  margin-right: 15px;
  padding: 10px 20px;
}

.check-answers-btn[disabled], .play-again-btn, .start-btn, .start-quiz-btn {
  align-self: center;
}

.check-answers-btn {
  position: relative;
}

.start-btn {
  border-radius: 15px;
  padding: 1.2em 4em;
}

/* Hover States */
label:hover, .check-answers-btn:hover, .play-again-btn:hover, .start-btn:hover, .start-quiz-btn:hover {
  transform: scale(1.05);
}

/* Disabled Button Styles */
.check-answers-btn[disabled] {
  cursor: not-allowed;
}

.check-answers-btn[disabled]:hover::before, .check-answers-btn[disabled]:hover::after {
  background-color: #333;
  border-radius: 3px;
  bottom: 100%;
  color: #F5F7FB;
  content: attr(data-tooltip);
  font-size: 0.9rem;
  left: 50%;
  padding: 5px;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
}

/* ========================================
   Container Styles
======================================== */
.start-container, .quiz-container, .placeholder-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.quiz-container {
  margin: 0 auto;
  max-height: 975px;
  width: 700px;
}

.quiz-item-container {
  border-bottom: 1px solid #DBDEF0;
  margin-bottom: 20px;
  padding: 1em;
}

.end-game-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.answer-container {
  display: flex;
  justify-content: space-between;
}

.answer-container label {
  flex-grow: 0; /* This ensures labels don't stretch beyond their content */
  margin: 0 5px; /* This gives a little spacing between each option */
}

/* ========================================
   Answer Styles
======================================== */
.user-answer {
  background-color: #D6DBF5;
}

.correct-answer {
  background-color: #94D7A2;
}

.incorrect-answer {
  background-color: rgba(248, 188, 188, 0.5);
  color: rgba(41, 50, 100, 0.3);
}

/* ========================================
   Configuration Styles
======================================== */
.configuration-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 2rem;
}

.configuration-container h1 {
  color: #293264;
  font-weight: 600;
  margin-bottom: 2rem;
}

.configuration-container form {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 2fr;
  max-width: 800px;
  width: 60%;
}

.configuration-container label {
  align-self: flex-start;
  font-weight: 500;
}

.configuration-container select, .configuration-container input {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.6rem 1rem;
}

.configuration-container button {
  background-color: #4D5B9E;
  border: none;
  border-radius: 8px;
  color: #F5F7FB;
  cursor: pointer;
  font-size: 1rem;
  grid-column: span 2;
  justify-self: center;
}

/* ========================================
   Responsive Styles
======================================== */
@media (max-width: 768px) {
  .configuration-container form {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .configuration-container button {
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .quiz-container {
    width: 90%;  /* Adjust width */
  }
  
  .start-title {
    font-size: 2rem;  /* Smaller title */
  }

  .start-description, .placeholder-description {
    font-size: 1.2rem;  /* Smaller description */
  }

  .user-score-description, .question {
    font-size: 1rem;  /* Smaller question and score description */
  }

  .answer-container {
    flex-direction: column;  /* Stack answers vertically */
  }

  label, .check-answers-btn, .play-again-btn, .start-btn, .start-quiz-btn {
    padding: 0.8em 2em;  /* Smaller padding */
  }

  .quiz-item-container {
    padding: 0.8em;  /* Smaller padding */
  }
}